* {
  padding: 0;
  margin: 0;
  font-size: 10px;
  box-sizing: border-box;
  font-family: 'Outfit', sans-serif;
}

.container {
  position: relative;
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: hsl(212, 45%, 89%);
}

.card {
  width: 30rem;
  height: 44rem;
  background-color: hsl(0, 0%, 100%);
  border-radius: 2rem;
}

.qrcode {
  width: 28.5rem;
  height: 27rem;
  padding: 1.5rem 0 1rem 1.5rem;
  border-radius: 2rem;
}

.about {
  padding: 0 2rem;
  align-items: center;
  text-align: center;
  margin-top: 1rem;
}

h2 {
  font-size: 20px;
  color: hsl(218, 44%, 22%);
}

p{
    font-size: 15px;
    margin-top: 1.5rem;
    color: hsl(220, 15%, 55%);
}

@media (max-width:375px){
  .card {
    width: 25rem;
    height: 44rem;
  }

  .qrcode {
    width: 23.5rem;
    height: 25rem;
    padding: 1.5rem 0 1rem 1.5rem;
    border-radius: 2rem;
  }
  
}